.jumbotron {
     padding-top: 6rem;
     background-color: #ffee8e;
}

#projects {
     background-color: #ffee8e;
}

.wave1 {
     margin-top: -150px;
}

.wave2 {
     margin-bottom: -100px;
}

.wave3 {
     margin-top: -150px;
}
